.about {
  margin-top: 150px;

  .about__name {
    @include project__title($secondaryColor, 10vw);
  }

  .about__title {
    @include project__title(8.0rem);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $secondaryColor;
  }

  .about__content {
    width: 30%;
  }
}