.home__page {
  color: $secondaryColor;
  background-color: $primaryColor;  
}

.head {
  margin: 40px auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .head__title {
    @include head__title($secondaryColor);
  }

  .head__email {
    @include paragraph($secondaryColor);
    transition: all 0.5s ease;
  }

  .head__email:hover,
  .head__email:focus {
    color: darken($secondaryColor, 30);
    
  }


}