
.portfolio {
  margin: 150px auto 20%;

  .portfolio__title {
    @include secondary__title($secondaryColor);
  }
}

.portfolio__project {

  position: relative;

  .project__title {
    @include project__title($secondaryColor, 15.0rem);
    z-index: 10;
    transition: all 0.5s ease;


    // text stroke example
    // -webkit-text-fill-color: transparent;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: #ffffff;

  }

  .project__image {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0px;
    max-height: 500px;
    max-width: 700px;
    opacity: 0;

    transition: all 0.5s ease;
  }
}

