
// variables
$primaryColor: #1a1a1a;
$secondaryColor: #ffffff;
$tertiaryColor: #e6cfcf;

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Oswald', sans-serif;


// mixins
@mixin head__title($color) {
  margin: 0;
  font-family: $primaryFont;
  font-size: 1.4rem;
  text-transform: lowercase;
  line-height: normal;
  color: $color;
}

@mixin secondary__title($color) {
  font-family: $primaryFont;
  font-weight: 300;
  font-size: 1.4rem;
  text-transform: lowercase;
  line-height: normal;
  color: $color;
}

@mixin paragraph($color) {
  font-family: $primaryFont;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: normal;
  color: $color;
}

@mixin project__title($color, $size) {
  font-family: $secondaryFont;
  font-weight: 500;
  font-size: $size;
  text-transform: uppercase;
  line-height: 1.1;
  vertical-align: top;
  color: $color;
}