
// variables

$primaryColor: #1a1a1a;
$secondaryColor: #ffffff;

$primaryFont: 'Roboto', sans-serif;


// mixins
@mixin head__title($color) {
  margin: 0;
  font-family: $primaryFont;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: lowercase;
  line-height: normal;
  color: $color;
}

@mixin secondary__title($color) {
  font-family: $primaryFont;
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: lowercase;
  line-height: normal;
  color: $color;
}

@mixin tertiary__title($color) {
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 2.0rem;
  text-transform: lowercase;
  line-height: normal;
  color: $color;
}

@mixin paragraph($color) {
  font-family: $primaryFont;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: normal;
  color: $color;
}

@mixin project__title($color, $size) {
  font-family: $primaryFont;
  font-weight: 700;
  font-size: $size;
  text-transform: uppercase;
  line-height: normal;
  color: $color;
}