html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover,
a:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}

.home__page {
  color: #ffffff;
  background-color: #1a1a1a;
}

.head {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head .head__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  text-transform: lowercase;
  line-height: normal;
  color: #ffffff;
}

.head .head__email {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.head .head__email:hover,
.head .head__email:focus {
  color: #b3b3b3;
}

.portfolio {
  margin: 150px auto 20%;
}

.portfolio .portfolio__title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  text-transform: lowercase;
  line-height: normal;
  color: #ffffff;
  margin-bottom: 35px;
}

.portfolio__project {
  position: relative;
}

.portfolio__project .project__title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 15rem;
  text-transform: uppercase;
  line-height: 1.1;
  vertical-align: top;
  color: #ffffff;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio__project .project__image {
  position: absolute;
  z-index: -10;
  top: 0px;
  right: 0px;
  max-height: 500px;
  max-width: 700px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio__project:last-child .project__image {
  top: -100px;
}

.about {
  margin-bottom: 100px;
}

.about .about__paragraph {
  width: 30%;
  margin-right: 10%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 50px;
}

.about__contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about__contact-list .contact__method {
  margin-right: 15px;
}

.about__contact-list .contact__method .contact__link {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.about__contact-list .contact__method .contact__link:hover,
.about__contact-list .contact__method .contact_-link:focus {
  color: #b3b3b3;
}

.project__page {
  background-color: #b3b3d3;
  color: #1a1a1a;
}

.project__page .head .head__title {
  color: #1a1a1a;
}

.project__page .head .head__email {
  color: #1a1a1a;
}

.project__page .head .head__email:hover,
.project__page .head .head__email:focus {
  color: #676767;
}

.highlighted {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.highlighted .highlighted__main-content {
  position: relative;
  width: 40%;
}

.highlighted .highlighted__main-content .highlighted__back-option {
  color: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.highlighted .highlighted__main-content .highlighted__back-option::before {
  content: "\003c";
  margin-right: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.highlighted .highlighted__main-content .highlighted__back-option:hover,
.highlighted .highlighted__main-content .highlighted__back-option:focus {
  color: #676767;
}

.highlighted .highlighted__main-content .stat {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.1;
  vertical-align: top;
  color: #1a1a1a;
  margin: 4px auto;
}

.highlighted .highlighted__main-content .stat:first-child {
  margin-top: 60px;
}

.highlighted .highlighted__main-content .stat:last-child {
  margin-bottom: 40px;
}

.highlighted .highlighted__main-content .highlighted__title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 15rem;
  text-transform: uppercase;
  line-height: 1.1;
  vertical-align: top;
  color: #1a1a1a;
  margin: 35px 0 10px;
}

.highlighted .highlighted__main-content .highlighted__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  text-transform: lowercase;
  line-height: normal;
  color: #1a1a1a;
  margin-bottom: 35px;
}

.highlighted .highlighted__main-content .highlighted__paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.highlighted .highlighted__gallery {
  width: 50%;
}

.highlighted .highlighted__gallery .gallery__image {
  margin-bottom: 20px;
  float: right;
}

.highlighted .highlighted__gallery .banner__image:last-child {
  margin-bottom: 0px;
}

.paragraph__link {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #b3b3d3;
  color: #575796;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.paragraph__link:hover,
.paragraph__link:active {
  color: #676767;
}

.socials {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials .social__option {
  margin-right: 20px;
}

.socials .social__option .social__link {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #1a1a1a;
}

.socials .social__option .social__link:hover,
.socials .social__option .social__link:focus {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #676767;
}

.nav {
  margin: 100px auto 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .nav__option .nav__title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #1a1a1a;
}

.nav .nav__option .nav__project {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 7.5rem;
  text-transform: uppercase;
  line-height: 1.1;
  vertical-align: top;
  color: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav .nav__option .nav__project:hover,
.nav .nav__option .nav__project:focus {
  letter-spacing: -2px;
}

.nav .nav__option:nth-child(2) .nav__title {
  text-align: right;
}

.transition-fade {
  -webkit-transition: 1.0s;
  transition: 1.0s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
